<div class='footer_wrapper_copyright'>
    <!-- canvas -->
    <div class='half_sin_wrapper'>
        <canvas class='half_sin' data-bg-color='23,108,129' data-line-color='23,108,129'></canvas>
    </div>
    <!-- / canvas -->
    <!-- copyright -->
    <div class='copyrights_area'>
        <!-- canvas -->
        <div class='half_sin_wrapper'>
            <canvas class='footer_half_sin' data-bg-color='14,64,77' data-line-color='14,64,77'></canvas>
        </div>
        <!-- / canvas -->
        <div class='container'>
            <div class='copyrights_container'>
                <div class='copyrights'><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></div>
                <div class='copyrights_panel'>
                    <div class='copyrights_panel_wrapper'>
                        <div class="lang_bar">
                            <div>
                                <ul>
                                    <li>
                                        <a href="#" class="lang_sel_sel icl-en"><img class="iclflag" src="/kid/img/en.png" alt="en" title="English" /> &nbsp;English
                                        </a>
                                        <ul>
                                            <li class="icl-fr">
                                                <a href="#"><img class="iclflag" src="/kid/img/fr.png" alt="fr" title="Français" />&nbsp;Français</a>
                                            </li>
                                            <li class="icl-de">
                                                <a href="#"><img class="iclflag" src="/kid/img/de.png" alt="de" title="Deutsch" />&nbsp;Deutsch</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class='cws_social_links'><a href='http://twitter.com/' class='cws_social_link' title='Twitter'><i class='share-icon fa fa-twitter'></i></a><a href='http://facebook.com/' class='cws_social_link' title='Facebook'><i class='share-icon fa fa-facebook'></i></a><a href='http://dribbble.com/' class='cws_social_link' title='Dribbble'><i class='share-icon fa fa-dribbble'></i></a><a href='https://plus.google.com/' class='cws_social_link' title='Google'><i class='share-icon fa fa-google-plus'></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / copyright -->
</div>
</div>
<!-- #page -->
<div class='scroll_top animated'></div>
<div id="lang_sel_footer">
<ul>
    <li>
        <a href="index-2.html" class="lang_sel_sel"><img src="/kid/img/en.png" alt="English" class="iclflag" title="English" />&nbsp;English</a>
    </li>
    <li>
        <a href="#"><img src="/kid/img/fr.png" alt="Français" class="iclflag" title="Français" />&nbsp;Français</a>
    </li>
    <li>
        <a href="#"><img src="/kid/img/de.png" alt="Deutsch" class="iclflag" title="Deutsch" />&nbsp;Deutsch</a>
    </li>
</ul>
</div>
<script type='text/javascript' src='/kid/tuner/tuner/js/colorpicker.js'></script>
<script type='text/javascript' src='/kid/tuner/tuner/js/scripts.js'></script>
<script type='text/javascript' src='/kid/js/retina_1.3.0.js'></script>
<script type='text/javascript' src='/kid/js/modernizr.js'></script>
<script type='text/javascript' src='/kid/js/owl.carousel.js'></script>
<script type='text/javascript' src='/kid/js/TweenMax.min.js'></script>
<script type='text/javascript' src='/kid/js/jquery.isotope.min.js'></script>
<script type='text/javascript' src='/kid/js/jquery.fancybox.js'></script>
<script type='text/javascript' src='/kid/js/select2.min.js'></script>
<script type='text/javascript' src='/kid/js/wow.min.js'></script>
<script type='text/javascript' src='/kid/js/jquery.validate.min.js'></script>
<script type='text/javascript' src="/kid/js/jquery.form.min.js"></script>
<script type='text/javascript' src='/kid/js/scripts.js'></script>
<script type='text/javascript' src="/kid/js/jquery.tweet.js"></script>
</body>


</html>