<%- include ('./partials/header') %>
    <div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>About Us</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>The Best</span>
                        <h3>We are the Institute</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms" style="text-align: justify;">
                    <p>We combine creative problem solving, innovative technologies and proven implementation skills to deliver the right solutions to our client and Customers. We support our clients with a wide range of services, including Training, Implementation
                        , managed services and advisory services. We provide our clients with the best consultants in any industry.</p>
                </div>
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms" style="text-align: justify;">
                    <p>Our people are exceptionally skilled in many technology disciplines including the Internet, Application services, Data Warehousing, Data Management, ERP and Configuration Management. CAPZTONE promote and enhance the development of
                        infants, preschoolers and school age children with special needs between the ages of birth through 21.</p>
                </div>
            </div>
            <div class="row">
                <br>
                <br>

            </div>
            <div class="row">
                <div class="col-12 wow fadeInUp" data-wow-delay="500ms" style="text-align: justify;">
                    <!-- <div class="about-slides owl-carousel mt-100 wow fadeInUp " data-wow-delay="600ms ">
                        <img src="img/bg-img/bg-3.jpg " alt=" ">
                        <img src="img/bg-img/bg-2.jpg " alt=" ">
                        <img src="img/bg-img/bg-1.jpg " alt=" ">
                    </div> -->
                    <p> We are one of the largest providers of evaluations and services for young and school age children. We provide opportunities for the child to become actively involved in the learning process by discovering his world through a variety
                        of developmentally appropriate activities and materials. Involve parents in the Capztone program through active participation and observation and to establish open communication between staff and parents concerning the child’s
                        individual needs at home and at Capztone . Provide a staff which is experienced, well-trained and knowledgeable concerning the development and needs of young children. Maintain an indoor and outdoor physical environment which is
                        safe, and invites exploration and discovery through a variety of quality materials which stimulate the child’s physical, emotional and intellectual growth.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 wow fadeInUp " data-wow-delay="500ms " ">
                    <div class="about-slides owl-carousel mt-100 wow fadeInUp " data-wow-delay="600ms ">
                        <img src="img/bg-img/bg-3.jpg " alt=" ">
                        <img src="img/bg-img/bg-2.jpg " alt=" ">
                        <img src="img/bg-img/bg-1.jpg " alt=" ">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Team Area Start ##### -->
    
    <!-- ##### Features Area Start ##### -->
   




    <%- include ('./partials/footer') %>