<%- include ('./partials/header') %>
    <div class="breadcumb-area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>Data Science</h2>
        </div>
    </div>
    <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>The Best</span>
                        <h3>Data Science</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 wow fadeInUp" data-wow-delay="500ms" style="text-align: justify;">
                    <p>Captzone Provides Best Data Science Training in Bangalore. We train the students from basic level to advanced concepts with the real-time environment. We offer Best Data Science Courses in Bangalore with 100% Placement Assistance.
                        We rated as the No 1 Training Institute for Data Science/Analytics Courses with Python, R, SAS, and Excel. From this Data Science Training, you will get real time exposure in statistics, Machine Learning, Deep Learning, Tensorflow,
                        Artificial intelligence and machine learning algorithm Concepts.</p>
                </div>
            </div>
            <div class="row">
                <br>
                <br>

            </div>
            <div class="row">
                <div class="col-12 wow fadeInUp" data-wow-delay="500ms" style="text-align: justify;">
                    <!-- <div class="about-slides owl-carousel mt-100 wow fadeInUp " data-wow-delay="600ms ">
                        <img src="img/bg-img/bg-3.jpg " alt=" ">
                        <img src="img/bg-img/bg-2.jpg " alt=" ">
                        <img src="img/bg-img/bg-1.jpg " alt=" ">
                    </div> -->
                    <p> This course includes concepts from statistics, computer science, & software engineering. We learn the necessary skills to manage & analyze data. We learn concepts such as exploratory data analysis, statistical inference, machine learning,
                        & high dimensional data analysis.</p>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div id="accordion row" class="accordion-1">

                <div class="card" style="background-color: #292929;">

                    <div class="card-header" id="h-1">

                        <a class="d-block text-left " data-toggle="collapse" data-target="#c-1" href="#" aria-expanded="true" aria-controls="c-1" style="color: orange;">

					What are objective of our Data science training? <i class="fa fa-angle-down"></i>

					</a>

                    </div>

                    <div id="c-1" class="collapse show " aria-labelledby="h-1" data-parent="#accordion">

                        <div class="card-body" style="color: white;">

                            <p>We, at Captzone, provide the best training for Data Science course. We have designed the course in such a way that helps to kickstart your career into the data science field and to take up different roles such as Data Scientist,
                                Data engineer, Data analyst and so on.</p>

                            <h6>We design the syllabus as per the latest industry standards.</h6>

                            <ul class="list-unstyled ui-box-style-2  p-0 m-0">

                                <li>Our trainers provide real-time training with live projects which will help you to have a deeper understanding of the subject.</li>

                                <li>We provide the training in various modes such as online, classroom on both weekday and weekend batches.</li>

                                <li>Our training schedule is very flexible to suit your available timings.</li>

                                <li>Our Data science course will help you to crack-related interviews in top MNCs since our trainers will guide you throughout the process by sharing their real-time experience in relevant fields.</li>

                            </ul>

                        </div>

                    </div>

                </div>



                <div class="card" style="background-color: #292929;">

                    <div class="card-header" id="h-2">

                        <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#c-2" href="#" aria-expanded="true" aria-controls="c-2" style="color: orange;">

					Why Should you go for Data Science Training? <i class="fa fa-angle-down"></i>

					</a>

                    </div>

                    <div id="c-2" class="collapse " aria-labelledby="h-2" data-parent="#accordion">

                        <div class="card-body">



                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">

                                <li>Data Science has become the “buzzword” of the decade. Harward business review has called it the “hottest job of the 21st century”. Data Scientist and Data architects are one of the highest paid roles nowadays. According
                                    to LinkedIn, Data Scientist is one of the most promising jobs in 2018.</li>

                                <li>According to UNECE statistics, Global data growth has increased from 5 ZB(ZettaBytes) in 2014 to 40 ZB in 2020. It is evident that Global data has been increasing at an enormous rate. Hence, Data science is the future.</li>

                                <li>Those who are passionate about working with cutting edge technologies should really consider a career in Data Science.</li>

                            </ul>



                        </div>

                    </div>

                </div>



                <div class="card" style="background-color: #292929;">

                    <div class="card-header" id="h-3">

                        <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#c-3" href="#" aria-expanded="true" aria-controls="c-3" style="color: orange;">

					Who should go for Data Science Training? <i class="fa fa-angle-down"></i>

					</a>

                    </div>

                    <div id="c-3" class="collapse " aria-labelledby="h-2" data-parent="#accordion">

                        <div class="card-body">



                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">

                                <li>Candidates having some database experience can move to Data science.</li>

                                <li>Top MNCs look for professionals with Data Science experience for various Data Science roles such as Data Engineer, Data Scientist, Data analyst, etc.</li>

                                <li>This training is suitable for software professionals preferably from programming and database background.</li>

                                <li>A lot of professionals have migrated from their current developer role to the Data Science field.</li>

                                <li>Anyone who wants to explore data patterns and has a passion for data analytics can come out with flying colors.</li>

                            </ul>



                        </div>

                    </div>

                </div>



                <div class="card" style="background-color: #292929;">

                    <div class="card-header" id="h-4">

                        <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#c-4" href="#" aria-expanded="true" aria-controls="c-4" style="color: orange;">

					How will Data Science Training help your Career? <i class="fa fa-angle-down"></i>

					</a>

                    </div>

                    <div id="c-4" class="collapse " aria-labelledby="h-4" data-parent="#accordion">

                        <div class="card-body">



                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">

                                <li>Since top companies don’t usually prefer freshers for these roles, experience in real-time Data science projects will be an added advantage.</li>

                                <li>Our training is focused on covering all basic syllabus related to Data Science along with real-time Lab exercises. Our live projects will help you to understand the subject in an extensive way and prepare you to face interviews
                                    with top companies for Data science roles.</li>

                                <li>Our trainers will share with you their experience and guide you to solve real-time problems. Either Online or classroom training is mandatory to start a career in Data Science.</li>

                            </ul>



                        </div>

                    </div>

                </div>



                <div class="card" style="background-color: #292929;">

                    <div class="card-header" id="h-5">

                        <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#c-5" href="#" aria-expanded="true" aria-controls="c-5" style="color: orange;">

					what are prerequisites for Data Science Training? <i class="fa fa-angle-down"></i>

					</a>

                    </div>

                    <div id="c-5" class="collapse " aria-labelledby="h-5" data-parent="#accordion">

                        <div class="card-body">



                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">

                                <li>Good Programming skills in at least one programming language. Knowing Python or R language will be helpful</li>

                                <li>Database skills. Eg: SQL.</li>

                                <li>Good analytical and mathematical skills.</li>

                            </ul>



                        </div>

                    </div>

                </div>



                <div class="card" style="background-color: #292929;">

                    <div class="card-header" id="h-6">

                        <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#c-6" href="#" aria-expanded="true" aria-controls="c-6" style="color: orange;">

					What Skills will you learn in Data Science Training? <i class="fa fa-angle-down"></i>

					</a>

                    </div>

                    <div id="c-6" class="collapse " aria-labelledby="h-6" data-parent="#accordion">

                        <div class="card-body">

                            <p>Companies prefer people with relevant experience to fill their Data science-related positions. The two common languages used are Python and R along with SQL.</p>

                            <p>The following are the skills that are associated with data science.</p>

                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">

                                <li>Programming knowledge in languages such as Python, R, Java, etc.</li>

                                <li>Data skills: Database background will really be helpful. Having worked extensively with databases such as Mysql, MSSQL, Postgre, MongoDB, Oracle, NoSQL, etc will be an added advantage.</li>

                                <li>Descriptive Statistics: To gather data and to analyze sample data and summarize it.</li>

                                <li>Data visualization: To help view the data using visual representations like graphs, plots and help understand the correlation, time series, ranking, deviation, and geographical differences.</li>

                                <li>Statistical modeling: The idea of generating a sample data based on given large data.</li>

                                <li>Big data: Dealing with complex and very large data sets. Spark, Hive, MongoDB, Amazon Redshift, Apache Kafka have become the common choice for big data platform.</li>

                                <li>Machine learning algorithms: The statistical modeling and algorithms that make predictions based on data.</li>

                            </ul>





                        </div>

                    </div>

                </div>



            </div>
            <div>
                <br>
                <br>

            </div>
            <div class="tab--1 ui-mt-30 row">

                <ul class="nav nav-tabs " id="myTab" role="tablist">

                    <li class="nav-item">

                        <a class="nav-link active" id="batch-schedule-tab" data-toggle="tab" href="#batch-schedule" role="tab" aria-controls="Overview" aria-selected="true" style="color: orange;">Batch Schedule</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" id="exam-certification-tab" data-toggle="tab" href="#exam-certification" role="tab" aria-controls="exam-certification" aria-selected="false" style="color: orange;">Exam & Certification</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" id="trainer-profile-tab" data-toggle="tab" href="#trainer-profile" role="tab" aria-controls="trainer-profile" aria-selected="false" style="color: orange;">Trainer Profile</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" id="placements-tab" data-toggle="tab" href="#placements" role="tab" aria-controls="placements" aria-selected="false" style="color: orange;">Placements</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" id="syllabus-tab" data-toggle="tab" href="#syllabus" role="tab" aria-controls="syllabus" aria-selected="false" style="color: orange;">Syllabus</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false" style="color: orange;">FAQ</a>

                    </li>

                </ul>

                <div class="tab-content cont" id="myTabContent">

                    <div class="tab-pane fade show active" id="batch-schedule" role="tabpanel" aria-labelledby="batch-schedule-tab" style="background-color: #292929; padding: 0px 17px 20px;">

                        <p>Captzone provides flexible timings to all our students. Here are the Data Science Training Classes in Chennai Schedule in our branches. If this schedule doesn’t match please let us know. We will try to arrange appropriate timings
                            based on your flexible timings.</p>



                        <div class="row" style="color: white;">

                            <div class="col-md-6 ui-mb-20">

                                <div class="box--2">

                                    <div class="ui-header--style text-white ">

                                        <h4 class="mb-0">Weekdays Regular (Class 1Hr - 1:30Hrs) / Per Session</h4>

                                    </div>
                                    <div>
                                        <br>

                                    </div>
                                    <div class="ui-body">

                                        <ul class="list-unstyled ui-box-style-2  p-0 m-0">

                                            <li>04-11-2019 Starts Coming Monday (Monday - Friday) 08:00 AM (IST)</li>

                                            <li>07-11-2019 Starts Coming Thursday (Monday - Friday) 08:00 AM (IST)</li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                            <div class="col-md-6 ui-mb-20">

                                <div class="box--2">

                                    <div class="ui-header--style text-white ">

                                        <h4 class="mb-0">Weekend Regular (Class 3Hrs) / Per Session</h4>

                                    </div>
                                    <div>
                                        <br>
                                    </div>
                                    <div class="ui-body">

                                        <ul class="list-unstyled ui-box-style-2  p-0 m-0">

                                            <li>09-11-2019 Starts Coming Saturday (Saturday - Sunday)11:00 AM (IST)</li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                            <div class="col-md-6 ui-mb-20">
                                <div>
                                    <br>
                                    <br>
                                </div>

                                <div class="box--2">

                                    <div class="ui-header--style text-white ">

                                        <h4 class="mb-0">Weekend Fast-track (Class 6Hrs - 7Hrs) / Per Session</h4>

                                    </div>
                                    <div>
                                        <br>
                                    </div>
                                    <div class="ui-body">

                                        <ul class="list-unstyled ui-box-style-2  p-0 m-0">

                                            <li>09-11-2019 Starts Coming Saturday (Saturday - Sunday)10:00 AM (IST)</li>

                                        </ul>

                                    </div>

                                </div>

                            </div>



                        </div>

                    </div>



                    <div class="tab-pane fade" id="exam-certification" role="tabpanel" aria-labelledby="exam-certification-tab" style="background-color: #292929;  padding: 0px 17px 20px;color: white;">

                        <p>Having a certificate for Data science will increase your placement chances in top companies. Candidates possessing data science certificates stand out from the crowd and have a greater probability of achieving their dream careers.
                            There are many standard industry recognizable data scientist certification programs.</p>



                        <div id="accordion-2" class="accordion-1">

                            <div class="card" style="background-color: #292929;">

                                <div class="card-header" id="n-1">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#nc-1" href="#" aria-expanded="true" aria-controls="n-1" style="color: orange;">

                          Who provides Data Science Certification? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="nc-1" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body">

                                        <p>Captzone provide the certificate for Data Science. It helps the candidates to prove their skills with industry standards.</p>

                                    </div>

                                </div>

                            </div>



                            <div class="card" style="background-color: #292929;">

                                <div class="card-header" id="n-2">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#nc-2" href="#" aria-expanded="true" aria-controls="n-2" style="color: orange;">

                          Which Certification is Best for Data Science? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="nc-2" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body">

                                        <p>Captzone is a reputed institute that has trained over 10000 plus students. Captzone’ certificate for Data science will help you to kickstart your career as a data scientist and will help you to land in data science
                                            job. Captzone certification will help you to gain real-time hands-on experience from industry guru’s.</p>

                                    </div>

                                </div>

                            </div>



                            <div class="card" style="background-color: #292929;">

                                <div class="card-header" id="n-3">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#nc-3" href="#" aria-expanded="true" aria-controls="n-3" style="color: orange;">

                          How long does it take to complete Data Science course? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="nc-3" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body">

                                        <p>The duration differs for weekday and weekend batches. For weekday batches, the estimate duration is between one to two months. For weekend batches, the estimate duration is about two months. For fees details, Kindly
                                            <a href="contact.php">contact us.</a></p>

                                    </div>

                                </div>

                            </div>



                            <div class="card" style="background-color: #292929;">

                                <div class="card-header" id="n-4">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#nc-4" href="#" aria-expanded="true" aria-controls="n-4" style="color: orange;">

                          How many attempts do I have to pass the Data Science course exam? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="nc-4" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body">

                                        <p>You can take Exam untill you pass it. there is no limited attempts.</p>

                                    </div>

                                </div>

                            </div>



                            <div class="card" style="background-color: #292929;">

                                <div class="card-header" id="n-5">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#nc-5" href="#" aria-expanded="true" aria-controls="n-5" style="color: orange;">

                          If I fail Data Science exam, how, soon can I retake it? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="nc-5" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body">

                                        <p>We conduct exams and provide certificates And if one fails, the exam can be retaken immediately.</p>

                                    </div>

                                </div>

                            </div>



                        </div>



                    </div>

                    <div class="tab-pane fade" id="trainer-profile" role="tabpanel" aria-labelledby="trainer-profile-tab" style="background-color: #292929; padding: 0px 17px 20px;">

                        <p>We choose best trainers for you. The best thing about taking Data Science Training in Chennai at Captzone is certainly the trainers here. They are the best you can avail of and will take care of all your academic needs. The best
                            thing about the approach with which they impart training to the candidates is that its student-centric. That means the training imparted to you is based on your needs, demands and comfort level. The teachers do their best to
                            make sure their knowledge and wisdom in the field of data science get effortlessly passed on to you. They don’t just have immense theoretical knowledge but also a lot of practical experience to enrich you with.</p>

                        <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white">
                            <li>Our trainers are industry data experts who work in Data Science.</li>
                            <li>Most of our trainers work in companies and have considerable work experience in Data science field.</li>
                            <li>Our trainers are flexible and are available based on your timings</li>
                            <li>Our trainers have good experience in training and are good at demonstrating the solution for real-world data science problems.</li>
                        </ul>



                    </div>

                    <div class="tab-pane fade" id="placements" role="tabpanel" aria-labelledby="placements-tab" style="background-color: #292929; padding: 0px 17px 20px;">

                        <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white">
                            <li>Our trainers help you with each and every step in your job progress.</li>
                            <li>Our trainers help improve your resume and help you add the necessary skills so that your resume clears the screening process.</li>
                            <li>Live project experience gained from the class will help you in facing interview questions.Our trainers are available for you to reach out for any doubts or queries after course completion.</li>
                            <li>We conduct mock interviews for you which boosts up your confidence level and prepares you for real-time interviews.</li>
                        </ul>



                    </div>

                    <div class="tab-pane fade" id="syllabus" role="tabpanel" aria-labelledby="syllabus-tab" style="background-color: #292929; padding: 0px 17px 20px;">

                        <p>Captzone boasts of being the Best Data Science training institute in Chennai. And the syllabus for this course has been broken down below (not in any specific order) for your convenience.</p>

                        <h3>Data Science with Python Training Syllabus</h3>
                        <div>
                            <br>
                        </div>

                        <div class="box--4">

                            <h6>Module 1: Introduction to Data Science (Duration-1hr)</h6>

                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">
                                <li>What is Data Science?</li>
                                <li>What is Machine Learning?</li>
                                <li>What is Deep Learning?</li>
                                <li>What is AI?</li>
                                <li>Data Analytics &amp; it’s types</li>
                            </ul>

                        </div>
                        <div>
                            <br>
                        </div>
                        <div class="box--4">

                            <h6>Module 2: Introduction to Python (Duration-1hr)</h6>

                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">
                                <li>What is Python?</li>
                                <li>Why Python?</li>
                                <li>Installing Python</li>
                                <li>Python IDEs</li>
                                <li>Jupyter Notebook Overview</li>
                            </ul>

                        </div>
                        <div>
                            <br>
                        </div>
                        <div class="box--4">

                            <h6>Module 3: Python Basics (Duration-5hrs)</h6>

                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">
                                <li>Python Basic Data types</li>
                                <li>Lists</li>
                                <li>Slicing</li>
                                <li>IF statements</li>
                                <li>Loops</li>
                                <li>Dictionaries</li>
                                <li>Tuples</li>
                                <li>Functions</li>
                                <li>Array</li>
                                <li>Selection by position &amp; Labels</li>
                            </ul>

                        </div>
                        <div>
                            <br>
                        </div>
                        <div class="box--4">

                            <h6>Module 4: Python Packages (Duration-2hrs)</h6>

                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">
                                <li>Pandas</li>
                                <li>Numpy</li>
                                <li>Sci-kit Learn</li>
                                <li>Mat-plot library</li>
                            </ul>

                        </div>
                        <div>
                            <br>
                        </div>
                        <div class="box--4">

                            <h6>Module 5: Importing data (Duration-1hr)</h6>

                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">
                                <li>Reading CSV files</li>
                                <li>Saving in Python data</li>
                                <li>Loading Python data objects</li>
                                <li>Writing data to csv file</li>
                            </ul>

                        </div>
                        <div>
                            <br>
                        </div>
                        <div class="box--4">

                            <h6>Module 6: Manipulating Data (Duration-1hr)</h6>

                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">
                                <li>&nbsp;Selecting rows/observations</li>
                                <li>Rounding Number</li>
                                <li>Selecting columns/fields</li>
                                <li>Merging data</li>
                                <li>Data aggregation</li>
                                <li>Data munging techniques</li>
                            </ul>

                        </div>
                        <div>
                            <br>
                        </div>
                        <div class="box--4">

                            <h4>Module 7: Statistics Basics (Duration-11hrs)</h4>

                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">
                                <li>Central Tendency
                                    <!-- <ul class=""> -->
                                    <li>&nbsp;&nbsp;&nbsp;Mean</li>
                                    <li>&nbsp;&nbsp;&nbsp;Median</li>
                                    <li>&nbsp;&nbsp;&nbsp;Mode</li>
                                    <li>&nbsp;&nbsp;&nbsp;Skewness</li>
                                    <li>&nbsp;&nbsp;&nbsp;Normal Distribution</li>
                                    <!-- </ul> -->
                                </li>
                                <br>
                                <li>Probability Basics
                                    <!-- <ul class=""> -->
                                    <li>&nbsp;&nbsp;&nbsp;What does mean by probability?</li>
                                    <li>&nbsp;&nbsp;&nbsp;Types of Probability</li>
                                    <li>&nbsp;&nbsp;&nbsp;ODDS Ratio?</li>
                                    <!-- </ul> -->
                                </li>
                                <br>
                                <li>Standard Deviation
                                    <!-- <ul class=""> -->
                                    <li>&nbsp;&nbsp;&nbsp;Data deviation &amp; distribution</li>
                                    <li>&nbsp;&nbsp;&nbsp;Variance</li>
                                    <!-- </ul> -->
                                </li>
                                <br>
                                <li>&nbsp;Bias variance Trade off
                                    <!-- <ul class=""> -->
                                    <li>&nbsp;&nbsp;&nbsp;Underfitting</li>
                                    <li>&nbsp;&nbsp;&nbsp;Overfitting</li>
                                    <!-- </ul> -->
                                </li>
                                <br>
                                <li>Distance metrics
                                    <ul class="">
                                        <li>&nbsp;&nbsp;&nbsp;Euclidean Distance</li>
                                        <li>&nbsp;&nbsp;&nbsp;Manhattan Distance</li>
                                    </ul>
                                </li>
                                <br>
                                <li>Outlier analysis
                                    <ul class="">
                                        <li>&nbsp;&nbsp;&nbsp;What is an Outlier?</li>
                                        <li>&nbsp;&nbsp;&nbsp;Inter Quartile Range</li>
                                        <li>&nbsp;&nbsp;&nbsp;Box &amp; whisker plot</li>
                                        <li>&nbsp;&nbsp;&nbsp;Upper Whisker</li>
                                        <li>&nbsp;&nbsp;&nbsp;Lower Whisker</li>
                                        <li>&nbsp;&nbsp;&nbsp;catter plot</li>
                                        <li>&nbsp;&nbsp;&nbsp;Cook’s Distance</li>
                                    </ul>
                                </li>
                                <br>
                                <li>Missing Value treatments
                                    <ul class="">
                                        <li>&nbsp;&nbsp;&nbsp;What is a NA?</li>
                                        <li>&nbsp;&nbsp;&nbsp;Central Imputation</li>
                                        <li>&nbsp;&nbsp;&nbsp;KNN imputation</li>
                                        <li>&nbsp;&nbsp;&nbsp;Dummification</li>
                                    </ul>
                                </li>
                                <br>
                                <li>Correlation
                                    <ul class="">
                                        <li>&nbsp;&nbsp;&nbsp;Pearson correlation</li>
                                        <li>&nbsp;&nbsp;&nbsp;Positive &amp; Negative correlation</li>
                                    </ul>
                                </li>
                                <br>
                                <li>Error Metrics Duration-3hr
                                    <ul class="">
                                        <li>&nbsp;&nbsp;&nbsp;Classification</li>
                                        <li>&nbsp;&nbsp;&nbsp;Confusion Matrix</li>
                                        <li>&nbsp;&nbsp;&nbsp;Precision</li>
                                        <li>&nbsp;&nbsp;&nbsp;Recall</li>
                                        <li>&nbsp;&nbsp;&nbsp;Specificity</li>
                                        <li>&nbsp;&nbsp;&nbsp;F1 Score</li>
                                    </ul>
                                </li>
                                <br>
                                <li>Regression
                                    <ul class="">
                                        <li>&nbsp;&nbsp;&nbsp;MSE</li>
                                        <li>&nbsp;&nbsp;&nbsp;RMSE</li>
                                        <li>&nbsp;&nbsp;&nbsp;MAPE</li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <div>
                            <br>
                        </div>
                        <div class="box--4">

                            <h6>Module 8: Machine Learning</h6>

                        </div>
                        <div>
                            <br>
                        </div>
                        <div class="box--4">

                            <h6>Module 9: Supervised Learning (Duration-6hrs)</h6>

                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">
                                <li>Linear Regression
                                    <ul class="">
                                        <li>Linear Equation</li>
                                        <li>Slope</li>
                                        <li>Intercept</li>
                                        <li>R square value</li>
                                    </ul>
                                </li>
                                <li>Logistic regression
                                    <ul class="">
                                        <li>ODDS ratio</li>
                                        <li>Probability of success</li>
                                        <li>Probability of failure</li>
                                        <li>ROC curve</li>
                                        <li>Bias Variance Tradeoff</li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <div>
                            <br>
                        </div>
                        <div class="box--4">

                            <h6>Module 10: Unsupervised Learning (Duration-4hrs)</h6>

                            <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">
                                <li>K-Means</li>
                                <li>K-Means ++</li>
                                <li>Hierarchical Clustering</li>
                            </ul>

                        </div>
                        <div>
                            <br>
                        </div>
                        <div class="box--4">

                            <h6>Module 11: Other Machine Learning algorithms (Duration-10hrs)</h4>

                                <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="color: white;">
                                    <li>K – Nearest Neighbour</li>
                                    <li>Naïve Bayes Classifier</li>
                                    <li>Decision Tree – CART</li>
                                    <li>Decision Tree – C50</li>
                                    <li>Random Forest</li>
                                </ul>

                        </div>

                    </div>





                    <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab" style="background-color: #292929; padding: 0px 17px 20px;">

                        <div id="accordion-2" class="accordion-1">

                            <div class="card">

                                <div class="card-header" id="f-1" style="background-color: #292929;">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#fc-1" href="#" aria-expanded="true" aria-controls="f-1" style="color: orange;">

                          Are you looking for exciting offers for Data Science course? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="fc-1" class="collapse " aria-labelledby="headingOne" data-parent="#accordion" style="background-color: #292929;">

                                    <div class="card-body" style="color: white; background-color: #292929;">

                                        <p>Call now: +91 74063 04567 or email: info@captzone.com and know the exciting offers available for you!</p>

                                    </div>

                                </div>

                            </div>



                            <div class="card">

                                <div class="card-header" id="f-2" style="background-color: #292929;">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#fc-2" href="#" aria-expanded="true" aria-controls="f-2" style="color: orange;">

                          Why should I learn Data Science course from Captzone? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="fc-2" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body" style="color: white; background-color: #292929;">

                                        <p><b>Captzone</b> offers Data Science Training in more than 20+ branches with 10+ years Experienced Expert level Trainers.</p>

                                        <ul class="list-unstyled ui-box-style-2  p-0 m-0">
                                            <li>Fully hands-on training</li>
                                            <li>30+ hours course duration</li>
                                            <li>Industry expert faculties</li>
                                            <li>Completed 1500+ batches</li>
                                            <li>100% job oriented training</li>
                                            <li>Certification guidance</li>
                                            <li>Own course materials</li>
                                            <li>Resume editing</li>
                                            <li>Interview preparation</li>
                                            <li>Affordable fees structure</li>
                                        </ul>

                                    </div>

                                </div>

                            </div>



                            <div class="card">

                                <div class="card-header" id="f-3" style="background-color: #292929;">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#fc-3" href="#" aria-expanded="true" aria-controls="f-3" style="color: orange;">

                          Does Captzone after course completion? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="fc-3" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body" style="color: white; background-color: #292929;">

                                        <p><b>Captzone</b> is the Legend in offering placement to the students.</p>

                                        <ul class="list-unstyled ui-box-style-2  p-0 m-0">
                                            <li>More than 2000+ students placed in last year.</li>
                                            <li>It has a dedicated placement portal which caters to the needs of the students during placements.</li>
                                            <li>Captzone conducts development sessions including mock interviews, presentation skills to prepare students to face a challenging interview situation with ease.</li>
                                            <li>92% percent placement record</li>
                                            <li>1000+ interviews organized</li>
                                        </ul>

                                    </div>

                                </div>

                            </div>



                            <div class="card">

                                <div class="card-header" id="f-4" style="background-color: #292929;">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#fc-4" href="#" aria-expanded="true" aria-controls="f-4" style="color: orange;">

                          Who is my trainer and how are they selected? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="fc-4" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body" style="color: white; background-color: #292929;">

                                        <ul class="list-unstyled ui-box-style-2  p-0 m-0">
                                            <li>Our trainers are more than 10+ years of experience in Data Science technologies.</li>
                                            <li>Trainers are expert level and fully up-to-date in the subjects they teach because they continue to spend time working on real-world industry applications.</li>
                                            <li>Trainers have experienced on multiple real-time Data Science projects in their industries.</li>
                                            <li>Are working professionals working in multinational companies such as CTS, TCS, HCL Technologies, ZOHO, Birlasoft, IBM, Microsoft, HP, Scope, Philips Technologies, etc…</li>
                                            <li>Trained more than 2000+ students in a year.</li>
                                            <li>Strong theoretical &amp; practical knowledge.</li>
                                            <li>Are certified professionals with high grade.</li>
                                            <li>Are well connected with hiring HRs in multinational companies.</li>
                                        </ul>



                                    </div>

                                </div>

                            </div>



                            <div class="card">

                                <div class="card-header" id="f-5" style="background-color: #292929;">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#fc-5" href="#" aria-expanded="true" aria-controls="f-5" style="color: orange;">

                          What if I miss a session? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="fc-5" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body" style="color: white; background-color: #292929;">

                                        <p>No worries.&nbsp;<b>Captzone</b>&nbsp;assure that no one misses single lectures topics. We will reschedule the classes as per your convenience within the stipulated course duration with all such possibilities. If
                                            required you can even attend that topic with any other batches.</p>



                                    </div>

                                </div>

                            </div>



                            <div class="card">

                                <div class="card-header" id="f-6" style="background-color: #292929;">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#fc-6" href="#" aria-expanded="true" aria-controls="f-6" style="color: orange;">

                          What are the different modes of Data Science training that Captzone provides? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="fc-6" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body" style="color: white; background-color: #292929;">

                                        <p><b>Captzone</b> provides many suitable modes of training to the students like</p>

                                        <ul class="list-unstyled ui-box-style-2  p-0 m-0">
                                            <li>Classroom training</li>
                                            <li>One to One training</li>
                                            <li>Fast track training</li>
                                            <li>Customized training</li>
                                        </ul>

                                    </div>

                                </div>

                            </div>



                            <div class="card">

                                <div class="card-header" id="f-7" style="background-color: #292929;">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#fc-7" href="#" aria-expanded="true" aria-controls="f-7" style="color: orange;">

                          What certification will I receive after completion of Data Science training? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="fc-7" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body" style="color: white; background-color: #292929;">

                                        <p>You will receive <b>Captzone globally recognized</b> Data Science course completion certification.</p>

                                    </div>

                                </div>

                            </div>



                            <div class="card">

                                <div class="card-header" id="f-8" style="background-color: #292929;">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#fc-8" href="#" aria-expanded="true" aria-controls="f-8" style="color: orange;">

                          How about group discounts (or) corporate training for our team? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="fc-8" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body" style="color: white; background-color: #292929;">

                                        <p>Yes, Captzone provides group discounts for its training programs. To get more details, visit our website and contact our support team via Call, Email, Live Chat option or drop a Quick Enquiry. Depending on the group
                                            size, we offer discounts as per the terms and conditions.</p>

                                    </div>

                                </div>

                            </div>



                            <div class="card">

                                <div class="card-header" id="f-9" style="background-color: #292929;">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#fc-9" href="#" aria-expanded="true" aria-controls="f-9" style="color: orange;">

                          What are the payment options? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="fc-9" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body" style="color: white; background-color: #292929;">

                                        <p>We accept all major kinds of payment options. Cash, Card (Master, Visa, and Maestro, etc), Net Banking and etc.</p>

                                    </div>

                                </div>

                            </div>

                            <div class="card">

                                <div class="card-header" id="f-10" style="background-color: #292929;">

                                    <a class="d-block text-left collapsed" data-toggle="collapse" data-target="#fc-10" href="#" aria-expanded="true" aria-controls="f-10" style="color: orange;">

                          I have more queries? <i class="fa fa-angle-down"></i>

                          </a>

                                </div>

                                <div id="fc-10" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">

                                    <div class="card-body" style="color: white; background-color: #292929;">

                                        <p>Please Contact +91 74063 04567 or Or you can share your queries through info@captzone.com</p>

                                    </div>

                                </div>

                            </div>



                        </div>

                    </div>



                </div>

            </div>



        </div>
    </section>

    <%- include ('./partials/footer') %>