<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>CapztOne</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/clogo.jpg">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/acc.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


</head>

<body style="background-color: #292929;">
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>


    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="/"><img src="/img/core-img/logo1.png" alt="" style="height: 39px;"></a>
                            </div>
                            <div class="login-content">
                                <h3 style="color: orange;">Call Us At +91 74603 04567</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/train">Training</a>
                                        <ul class="dropdown">
                                            <li><a href="/train/bi">Business&nbsp;Intelligence</a></li>
                                            <li><a href="/train/data">Data&nbsp;Science</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/solution">Solution</a></li>
                                    <li><a href="/staff">Staffing</a></li>
                                    <!-- <li><a href="/kid">Kids&nbsp;Program</a>
                                        <ul class="dropdown" style="width: 330px;">
                                            <li><a href="/">Home&nbsp;tutoring&nbsp;&&nbsp;Learning&nbsp;Support</a></li>
                                            <li><a href="/">Reading&nbsp;Fluency&nbsp;Program</a></li>
                                            <li><a href="/">Enrichment&nbsp;Programs</a>
                                                <ul class="dropdown dropleft" style="width: 330px;">
                                                    <li><a href="/">Creative&nbsp;Art</a></li>
                                                    <li><a href="/">English&nbsp;Speech</a></li>
                                                    <li><a href="/">Debate</a></li>
                                                    <li><a href="/">Creative Writing</a></li>
                                                    <li><a href="/">Music</a></li>
                                                    <li><a href="/">Art Of Speaking</a></li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <li><a href="/contact">Contact</a></li>
                                </ul>

                            </div>
                            <!-- Nav End -->

                        </div>


                    </nav>
                </div>
            </div>
        </div>
        <div class="icon-bar sticky-wrapper is-sticky">
            <a href="https://www.facebook.com/Capztone-Innovative-Solution-102952757846253/?modal=admin_todo_tour" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/capztone" class="twitter"><i class="fa fa-twitter"></i></a>
            <!-- <a href="#" class="google"><i class="fa fa-google"></i></a> -->
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <!-- <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> -->

        </div>
    </header>
    <div class="breadcumb-area bg-img" style="background-color: #292929; height: 109px;">
        <div class="bradcumbContent">
            <h2>Qlik View</h2>
        </div>
    </div>
    <div class="bradcumbContent" style="margin-left: 43px;" id="arrow">
        <a href="/train/bi"><img src="/img/bg-img/back-arow.png" alt="" srcset="" style="height: 48px;"></a>
    </div>
    <section class="card" style="margin-top: 80px; background-color: #292929;">
        <article class="wid">
            <h1 data-accordion-element-trigger style="background-color: #292929; margin-bottom: -0.5rem;">Session 1: Data Warehouse Concepts</h1>
            <div data-accordion-element-content class="content">
                <table style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <tbody>
                        <tr>
                            <td width="75">1.01</td>
                            <td width="550">Introduction of Data Warehouse</td>
                            <td class="dbcenter" width="100">0:03:08</td>
                        </tr>
                        <tr>
                            <td width="75">1.02</td>
                            <td width="550">Need arise of DWH</td>
                            <td class="dbcenter" width="100">0:04:24</td>
                        </tr>
                        <tr>
                            <td width="75">1.03</td>
                            <td width="550">OLTP V/S DWH</td>
                            <td class="dbcenter" width="100">0:12:01</td>
                        </tr>
                        <tr>
                            <td width="75">1.04</td>
                            <td width="550">OLTP V/s OLAP</td>
                            <td class="dbcenter" width="100">0:03:19</td>
                        </tr>
                        <tr>
                            <td width="75">1.05</td>
                            <td width="550">Data Warehouse /Data Marts Architecture</td>
                            <td class="dbcenter" width="100">0:07:54</td>
                        </tr>
                        <tr>
                            <td width="75">1.06</td>
                            <td width="550">Staging/without Staging</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.07</td>
                            <td width="550">Dimensions (Simple and Confirm)</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.08</td>
                            <td width="550">Fact (Simple, fact less, coverage, confirm)</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.09</td>
                            <td width="550">Warehouse Implementation Methods</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.10</td>
                            <td width="550">STAR SCHEMA</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.11</td>
                            <td width="550">SNOW FLAKE SCHEMA</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.12</td>
                            <td width="550">Difference between STAR and SNOW FLAKE Schema.</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.13</td>
                            <td width="550">Other terminologies Cleansing, Purging etc.</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.14</td>
                            <td width="550">Database Modeling</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.15</td>
                            <td width="550">Designing Methods</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.16</td>
                            <td width="550">Logical Designing</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.17</td>
                            <td width="550">Introduction of Dimension Modeling</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.18</td>
                            <td width="550">Difference between ER-Modeling and Dimension Modeling</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.19</td>
                            <td width="550">Implementation of Dimension Model</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.20</td>
                            <td width="550">Forward Engineering and Reverse Engineering</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.21</td>
                            <td width="550">Introduction of various Database Components</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>
                        <tr>
                            <td width="75">1.22</td>
                            <td width="550">OLAP ?OLAP/MOLAP/HOLAP</td>
                            <td class="dbcenter" width="100">0:04:09</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </article>
        <article class="wid">
            <h1 data-accordion-element-trigger style="background-color: #292929;margin-bottom: -0.5rem;">Session 2: QlikView data structures:</h1>
            <div data-accordion-element-content class="content">
                <table style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <tbody>
                        <tr>
                            <td width="75">2.01</td>
                            <td width="550">Data structures in QlikView (AQL).</td>
                            <td class="dbcenter" width="100">0:09:01</td>
                        </tr>
                        <tr>
                            <td width="75">2.02</td>
                            <td width="550">Sample Application walkthrough of QlikView</td>
                            <td class="dbcenter" width="100">0:05:58</td>
                        </tr>
                        <tr>
                            <td width="75">2.03</td>
                            <td width="550">Architecture and components of QV</td>
                            <td class="dbcenter" width="100">0:03:46</td>
                        </tr>
                        <tr>
                            <td width="75">2.04</td>
                            <td width="550">In-memory BI /OLAP</td>
                            <td class="dbcenter" width="100">0:03:44</td>
                        </tr>
                        <tr>
                            <td width="75">2.05</td>
                            <td width="550">Loading data from multiple datasources:</td>
                            <td class="dbcenter" width="100">0:02:21</td>
                        </tr>
                        <tr>
                            <td width="75">2.06</td>
                            <td width="550">Script editing</td>
                            <td class="dbcenter" width="100">0:02:21</td>
                        </tr>
                        <tr>
                            <td width="75">2.07</td>
                            <td width="550">Menu Commands and Syntax</td>
                            <td class="dbcenter" width="100">0:02:21</td>
                        </tr>
                        <tr>
                            <td width="75">2.08</td>
                            <td width="550">Handling DATA SOURCE FILES</td>
                            <td class="dbcenter" width="100">0:02:21</td>
                        </tr>
                        <tr>
                            <td width="75">2.09</td>
                            <td width="550">The QWT (Access File example) primary data source</td>
                            <td class="dbcenter" width="100">0:02:21</td>
                        </tr>
                        <tr>
                            <td width="75">2.10</td>
                            <td width="550">The QWT (Access File example with QVD Conversion) secondary data files</td>
                            <td class="dbcenter" width="100">0:02:21</td>
                        </tr>
                        <tr>
                            <td width="75">2.11</td>
                            <td width="550">Script generation</td>
                            <td class="dbcenter" width="100">0:02:21</td>
                        </tr>
                        <tr>
                            <td width="75">2.12</td>
                            <td width="550">Creating a connection to the database</td>
                            <td class="dbcenter" width="100">0:02:21</td>
                        </tr>
                        <tr>
                            <td width="75">2.13</td>
                            <td width="550">Reading tables into QlikView</td>
                            <td class="dbcenter" width="100">0:02:21</td>
                        </tr>
                        <tr>
                            <td width="75">2.14</td>
                            <td width="550">Big data Analytics</td>
                            <td class="dbcenter" width="100">0:02:21</td>
                        </tr>
                        <tr>
                            <td width="75">2.15</td>
                            <td width="550">Connecting of Qlikview with Bigdata hadoop</td>
                            <td class="dbcenter" width="100">0:02:21</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
        <article class="wid">
            <h1 data-accordion-element-trigger style="background-color: #292929;margin-bottom: -0.5rem;">Session 3: ADVANCED SCRIPTING</h1>
            <div data-accordion-element-content class="content">
                <table>
                    <tbody style="    padding: 25px 30px 40px;
                    background: #E8EAF6;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000;">
                        <tr>
                            <td width="75">3.01</td>
                            <td width="550">Condition on a field in a table</td>
                            <td class="dbcenter" width="100">0:01:17</td>
                        </tr>
                        <tr>
                            <td width="75">3.02</td>
                            <td width="550">Aggregating Data in Script (Resident Load and Group Function, Order By etc)</td>
                            <td class="dbcenter" width="100">0:06:52</td>
                        </tr>
                        <tr>
                            <td width="75">3.03</td>
                            <td width="550">Joining tables (Left, Right, Inner, Outer Joins)</td>
                            <td class="dbcenter" width="100">0:10:04</td>
                        </tr>
                        <tr>
                            <td width="75">3.04</td>
                            <td width="550">Concatenation</td>
                            <td class="dbcenter" width="100">0:06:57</td>
                        </tr>
                        <tr>
                            <td width="75">3.05</td>
                            <td width="550">Sheet Basics:</td>
                            <td class="dbcenter" width="100">0:03:13</td>
                        </tr>
                        <tr>
                            <td width="75">3.06</td>
                            <td width="550">Sheet Objects</td>
                            <td class="dbcenter" width="100">0:13:39</td>
                        </tr>
                        <tr>
                            <td width="75">3.07</td>
                            <td width="550">Text,list,chart,graph</td>
                            <td class="dbcenter" width="100">0:02:02</td>
                        </tr>
                        <tr>
                            <td width="75">3.08</td>
                            <td width="550">Multidimensional,gauges,multibox</td>
                            <td class="dbcenter" width="100">0:02:02</td>
                        </tr>
                        <tr>
                            <td width="75">3.09</td>
                            <td width="550">Calculation and expressions</td>
                            <td class="dbcenter" width="100">0:02:02</td>
                        </tr>
                        <tr>
                            <td width="75">3.10</td>
                            <td width="550">Server setup</td>
                            <td class="dbcenter" width="100">0:02:02</td>
                        </tr>
                        <tr>
                            <td width="75">3.11</td>
                            <td width="550">Publisher</td>
                            <td class="dbcenter" width="100">0:02:02</td>
                        </tr>
                        <tr>
                            <td width="75">3.12</td>
                            <td width="550">Alerts</td>
                            <td class="dbcenter" width="100">0:02:02</td>
                        </tr>
                        <tr>
                            <td width="75">3.13</td>
                            <td width="550">Text,list,chart,graph</td>
                            <td class="dbcenter" width="100">0:02:02</td>
                        </tr>
                        <tr>
                            <td width="75">3.14</td>
                            <td width="550">Bookmark</td>
                            <td class="dbcenter" width="100">0:02:02</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </section>
    <!-- partial -->
    <script src='https://cdn.jsdelivr.net/gh/cant89/gianni-accordion-js/dist/gianniAccordion.min.js'></script>
    <script src="/js/acc.js"></script>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="bottom-footer-area" style="background-color: black;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p style="background-color: black; color: white;">
                            Copyright &copy; All rights reserved | This template is made with by <a href="https://colorlib.com" target="_blank" style="color: orange;">Capztone</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0GnVe3hVnKs7DF9KuTkXdjB4NVLWWK8U&callback=initMap"> -->
    </script>
</body>

</html>