<%- include ('./partials/header') %>
    <div class="breadcumb-area bg-img" style="background-color: #292929; height: 109px;">
        <div class="bradcumbContent">
            <h2 id="font-s">IT Solution And Services</h2>
        </div>
    </div>

    <div class="popular-course-details-area wow fadeInUp" data-wow-delay="300ms">
        <div class="single-top-popular-course d-flex align-items-center flex-wrap" style="background-color: #484848;; margin-top: 100px; ">
            <div class="popular-course-content" style="background-color: #484848; margin-left: 0px; max-width: 534px;">
                <div class="container ">
                    <div class="row ">
                        <div class="col-12 wow fadeInUp " data-wow-delay="500ms ">
                            <p style="color: white; font-size: 15px;"> We fulfill the needs of thousands of clients every day by matching the industry's most talented IT and communications professionals with companies who need their assistance. Through our comprehensive services, we provide stability
                                and strength to your business, allowing you to focus on your core competencies.</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 wow fadeInUp " data-wow-delay="500ms ">
                            <p style="color: white; font-size: 15px; margin-top: -10px;"> Manpower Consultancy Services We provide manpower consultancy services in the following areas of IT</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 wow fadeInUp " data-wow-delay="500ms " style="text-align: justify; ">
                            <ul style="color: orange; font-size: 20px;">
                                <li>Big Data Analytics</li>
                                <li>Business Intelligence & Analytics</li>
                                <li>Business Application Development</li>
                            </ul>
                        </div>
                        <div class="col-12 wow fadeInUp " data-wow-delay="500ms " style="text-align: justify; ">
                            <ul style="color: orange; font-size: 20px;">
                                <li>Data Warehousing</li>
                                <li>Sales and Support</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-img" style="background-image: url(img/bg-img/sol1.jpg); " id="sol-img"></div>
        </div>
    </div>

    <%- include ('./partials/footer') %>