<%- include ('./partials/header') %>
    <section class="teachers-area section-padding-0-100 " style="background-color: #292929; background-image: url(img/bg-img/sol1.jpg); background-size: cover;">
        <div class="container ">
            <div>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="row ">
                <div class="col-12 ">
                    <div class="section-heading text-center mx-auto wow fadeInUp " data-wow-delay="300ms ">
                        <span>Solutions</span>
                        <h3>Great Methods</h3>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 wow fadeInUp " data-wow-delay="500ms " style="text-align: justify; ">
                    <p style="color: black; font-size: 20px;"> We fulfill the needs of thousands of clients every day by matching the industry's most talented IT and communications professionals with companies who need their assistance. Through our comprehensive services, we provide stability
                        and strength to your business, allowing you to focus on your core competencies.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 wow fadeInUp " data-wow-delay="500ms " style="text-align: justify; ">
                    <p style="color: black; font-size: 20px;"> Manpower Consultancy Services We provide manpower consultancy services in the following areas of IT</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-6 wow fadeInUp " data-wow-delay="500ms " style="text-align: justify; ">
                    <ul style="color: black; font-size: 20px; ">
                        <li>IT Project Management</li>
                        <li>Solutions Engineering & Architecture</li>
                        <li>Business Application Development</li>
                        <li>Database, client-server Applications</li>
                        <li>Internet and Intranet Applications</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 wow fadeInUp " data-wow-delay="500ms " style="text-align: justify; ">
                    <ul style="color: black; font-size: 20px;">
                        <li>CRM Package Customizations</li>
                        <li>Infrastructure and Networking</li>
                        <li>IT Security</li>
                        <li>Data Warehousing</li>
                        <li>Sales and Support</li>
                    </ul>
                </div>
            </div>

            <div class="row ">

            </div>

        </div>
    </section>


    <%- include ('./partials/footer') %>