<%- include ('./partials/header') %>
    <div>
        <br>
        <br>
    </div>
    <section class="teachers-area section-padding-0-100 " style="background-color: #292929;">
        <div class="container ">
            <div class="row ">
                <br>
                <br>
            </div>
            <div class="row ">
                <div class="col-12 ">
                    <div class="section-heading text-center mx-auto wow fadeInUp " data-wow-delay="300ms ">
                        <span>The Best</span>
                        <h3>Meet the Teachers</h3>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 wow fadeInUp " data-wow-delay="500ms " style="text-align: justify; ">
                    <p> Captzone is a premier provider of IT staffing solutions to Fortune 500 customers. Whether it is providing just a few resources or staffing entire project teams involving hundreds of resources, Captzone IT staffing solutions help clients
                        with the right talent, skills and competencies when they need them. We provide clients exceptional IT talent to meet their demanding technology initiatives at both local and national levels. Captzone exceeds client expectations
                        through highly effective processes for recruiting, screening, testing, and talent engagement. Our commitment to servicing our clients is evident by repeat business from existing clients.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 wow fadeInUp " data-wow-delay="500ms " style="text-align: justify; ">
                    <p> We help find the right people for the right job. We understand how critical it is to match the right talent to the specified job. In today’s fast paced business world. We know time management is of utmost importance. We help you utilize
                        your time more effectively by offering the best talent in the market which saves hiring managers time and energy spent on screening candidates. We take a hands-on approach and do all of the legwork for you.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 wow fadeInUp " data-wow-delay="500ms " style="text-align: justify; ">
                    <p> Our Staffing Team is professional, compassionate and stringently follows hiring procedures and guidelines. Our staffing professionals keep current with the latest trends in the market. We also use social network platforms to find and
                        recruit the top talent available. We have built a world class Recruiting Engine to compile a talent base of pre-screened candidates available for rapid placement. This talent acquisition model encompasses a sophisticated resource
                        management database and a centralized quick response team specialized in sourcing and qualifying the best candidates through best practices</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 wow fadeInUp " data-wow-delay="500ms " style="text-align: justify; ">
                    <ul style="color: orange;list-style-type: square;">
                        <li>Based on our knowledge of client needs and the skills they typically require, we identify and deliver the finest candidates available through a comprehensive, five-step recruiting process; Planning, Sourcing, Qualification, Closing
                            and On-Boarding.</li>
                        <br>
                        <li>We take time to understand your company, and its culture. This helps us assess your requirements, and develop a plan to get the right talent. </li>
                        <br>
                        <li>We have an extensive database of the top technical professionals, their job profiles, salary structure, where to find them and when they will be available. We understand their preferences, and what it takes to get them on-board.</li>
                        <br>
                        <li>We have a comprehensive network of IT professionals, and we use our referral-based sourcing to improve our selectivity, and effectiveness to choose the top talent for any given requirement.</li>
                        <br>
                        <li>We qualify resource candidates through careful analysis of their skills, their preferences and their work history to ensure you get a qualified candidate who meets your specified skill qualifications, culture and cost and is committed
                            to your project.</li>
                        <br>
                        <li>We communicate with our candidates continuously throughout the staffing process which results in higher success in closing the selected candidate.</li>
                        <br>
                        <li>We customize our on-boarding process for each client’s unique needs so that resources show up on time, ready to go from day one.</li>
                        <br>
                        <li>We work in a wide variety of models. We work with most of the leading MSP organizations and VMS software systems. We work direct with clients who want both onsite and offshore IT talent.</li>
                        <br>
                        <li>We believe timely and effective communication with our clients and our professional consultants is a key component to achieving successful project completion through sustained consultant performance and retention until project
                            completion. We are fully committed to being a valued partner to you for all of your staffing resources.</li>

                    </ul>
                </div>
            </div>
            <div>
                <br>
                <br>
            </div>
            <div class="row ">
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3 ">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp " data-wow-delay="400ms ">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail ">
                            <img src="img/bg-img/tea1.jpg " alt=" ">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30 ">
                            <h5>Maria D. Smith</h5>
                            <span>Marketing Proffesor</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3 ">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp " data-wow-delay="500ms ">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail ">
                            <img src="img/bg-img/tea2.jpg " alt=" ">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30 ">
                            <h5>Simon Duval</h5>
                            <span>Digital Proffesor</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3 ">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp " data-wow-delay="600ms ">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail ">
                            <img src="img/bg-img/tea3.jpg " alt=" ">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30 ">
                            <h5>James Hogan</h5>
                            <span>HTML Proffesor</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3 ">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp " data-wow-delay="700ms ">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail ">
                            <img src="img/bg-img/tea4.jpg " alt=" ">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30 ">
                            <h5>Claudia Williams</h5>
                            <span>Marketing Proffesor</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <%- include ('./partials/footer') %>