<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>CapztOne</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/clogo.jpg">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/acc.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


</head>

<body style="background-color: #292929;">
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>


    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="/"><img src="/img/core-img/logo1.png" alt="" style="height: 39px;"></a>
                            </div>
                            <div class="login-content">
                                <h3 style="color: orange;">Call Us At +91 74603 04567</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/train">Training</a>
                                        <ul class="dropdown">
                                            <li><a href="/train/bi">Business&nbsp;Intelligence</a></li>
                                            <li><a href="/train/data">Data&nbsp;Science</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/solution">Solution</a></li>
                                    <li><a href="/staff">Staffing</a></li>
                                    <!-- <li><a href="/kid">Kids&nbsp;Program</a>
                                        <ul class="dropdown" style="width: 330px;">
                                            <li><a href="/">Home&nbsp;tutoring&nbsp;&&nbsp;Learning&nbsp;Support</a></li>
                                            <li><a href="/">Reading&nbsp;Fluency&nbsp;Program</a></li>
                                            <li><a href="/">Enrichment&nbsp;Programs</a>
                                                <ul class="dropdown dropleft" style="width: 330px;">
                                                    <li><a href="/">Creative&nbsp;Art</a></li>
                                                    <li><a href="/">English&nbsp;Speech</a></li>
                                                    <li><a href="/">Debate</a></li>
                                                    <li><a href="/">Creative Writing</a></li>
                                                    <li><a href="/">Music</a></li>
                                                    <li><a href="/">Art Of Speaking</a></li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <li><a href="/contact">Contact</a></li>
                                </ul>

                            </div>
                            <!-- Nav End -->

                        </div>


                    </nav>
                </div>
            </div>
        </div>
        <div class="icon-bar sticky-wrapper is-sticky">
            <a href="https://www.facebook.com/Capztone-Innovative-Solution-102952757846253/?modal=admin_todo_tour" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/capztone" class="twitter"><i class="fa fa-twitter"></i></a>
            <!-- <a href="#" class="google"><i class="fa fa-google"></i></a> -->
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <!-- <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> -->

        </div>
    </header>
    <div class="breadcumb-area bg-img" style="background-color: #292929; height: 109px;">
        <div class="bradcumbContent">
            <h2>Data Science</h2>
        </div>
    </div>
    <div class="bradcumbContent" style="margin-left: 43px;" id="arrow">
        <a href="/train/data"><img src="/img/bg-img/back-arow.png" alt="" srcset="" style="height: 48px;"></a>
    </div>
    <section class="card" style="margin-top: 80px; background-color: #292929;">
        <article class="wid">
            <h1 data-accordion-element-trigger style="background-color: #292929; margin-bottom: -0.5rem;">Session 1: Introduction to Data Science (Duration-1hr)</h1>
            <div data-accordion-element-content class="content">
                <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <li>What is Data Science?</li>
                    <li>What is Machine Learning?</li>
                    <li>What is Deep Learning?</li>
                    <li>What is AI?</li>
                    <li>Data Analytics &amp; it’s types</li>
                </ul>
            </div>
        </article>
        <article class=" wid ">
            <h1 data-accordion-element-trigger style="background-color: #292929;margin-bottom: -0.5rem; ">Session 2: Introduction to Python (Duration-1hr)</h1>
            <div data-accordion-element-content class="content ">
                <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <li>What is Python?</li>
                    <li>Why Python?</li>
                    <li>Installing Python</li>
                    <li>Python IDEs</li>
                    <li>Jupyter Notebook Overview</li>
                </ul>
            </div>
        </article>
        <article class="wid ">
            <h1 data-accordion-element-trigger style="background-color: #292929;margin-bottom: -0.5rem; ">Session 3: Python Basics (Duration-5hrs)</h1>
            <div data-accordion-element-content class="content ">
                <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <li>Python Basic Data types</li>
                    <li>Lists</li>
                    <li>Slicing</li>
                    <li>IF statements</li>
                    <li>Loops</li>
                    <li>Dictionaries</li>
                    <li>Tuples</li>
                    <li>Functions</li>
                    <li>Array</li>
                    <li>Selection by position &amp; Labels</li>
                </ul>
            </div>
        </article>
        <article class="wid ">
            <h1 data-accordion-element-trigger style="background-color: #292929;margin-bottom: -0.5rem; ">Session 4: Python Packages (Duration-2hrs)</h1>
            <div data-accordion-element-content class="content ">
                <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <li>Pandas</li>
                    <li>Numpy</li>
                    <li>Sci-kit Learn</li>
                    <li>Mat-plot library</li>
                </ul>
            </div>
        </article>
        <article class="wid ">
            <h1 data-accordion-element-trigger style="background-color: #292929;margin-bottom: -0.5rem; ">Session 5: Importing data (Duration-1hr)</h1>
            <div data-accordion-element-content class="content ">
                <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <li>Reading CSV files</li>
                    <li>Saving in Python data</li>
                    <li>Loading Python data objects</li>
                    <li>Writing data to csv file</li>
                </ul>
            </div>
        </article>
        <article class="wid ">
            <h1 data-accordion-element-trigger style="background-color: #292929;margin-bottom: -0.5rem; ">Session 6: Manipulating Data (Duration-1hr)</h1>
            <div data-accordion-element-content class="content ">
                <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <li>&nbsp;Selecting rows/observations</li>
                    <li>Rounding Number</li>
                    <li>Selecting columns/fields</li>
                    <li>Merging data</li>
                    <li>Data aggregation</li>
                    <li>Data munging techniques</li>
                </ul>
            </div>
        </article>
        <article class="wid ">
            <h1 data-accordion-element-trigger style="background-color: #292929;margin-bottom: -0.5rem; ">Session 7: Statistics Basics (Duration-11hrs)</h1>
            <div data-accordion-element-content class="content ">
                <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <li>Central Tendency
                        <!-- <ul class=""> -->
                        <li>&nbsp;&nbsp;&nbsp;Mean</li>
                        <li>&nbsp;&nbsp;&nbsp;Median</li>
                        <li>&nbsp;&nbsp;&nbsp;Mode</li>
                        <li>&nbsp;&nbsp;&nbsp;Skewness</li>
                        <li>&nbsp;&nbsp;&nbsp;Normal Distribution</li>
                        <!-- </ul> -->
                    </li>
                    <br>
                    <li>Probability Basics
                        <!-- <ul class=""> -->
                        <li>&nbsp;&nbsp;&nbsp;What does mean by probability?</li>
                        <li>&nbsp;&nbsp;&nbsp;Types of Probability</li>
                        <li>&nbsp;&nbsp;&nbsp;ODDS Ratio?</li>
                        <!-- </ul> -->
                    </li>
                    <br>
                    <li>Standard Deviation
                        <!-- <ul class=""> -->
                        <li>&nbsp;&nbsp;&nbsp;Data deviation &amp; distribution</li>
                        <li>&nbsp;&nbsp;&nbsp;Variance</li>
                        <!-- </ul> -->
                    </li>
                    <br>
                    <li>&nbsp;Bias variance Trade off
                        <!-- <ul class=""> -->
                        <li>&nbsp;&nbsp;&nbsp;Underfitting</li>
                        <li>&nbsp;&nbsp;&nbsp;Overfitting</li>
                        <!-- </ul> -->
                    </li>
                    <br>
                    <li>Distance metrics
                        <ul class="">
                            <li>&nbsp;&nbsp;&nbsp;Euclidean Distance</li>
                            <li>&nbsp;&nbsp;&nbsp;Manhattan Distance</li>
                        </ul>
                    </li>
                    <br>
                    <li>Outlier analysis
                        <ul class="">
                            <li>&nbsp;&nbsp;&nbsp;What is an Outlier?</li>
                            <li>&nbsp;&nbsp;&nbsp;Inter Quartile Range</li>
                            <li>&nbsp;&nbsp;&nbsp;Box &amp; whisker plot</li>
                            <li>&nbsp;&nbsp;&nbsp;Upper Whisker</li>
                            <li>&nbsp;&nbsp;&nbsp;Lower Whisker</li>
                            <li>&nbsp;&nbsp;&nbsp;catter plot</li>
                            <li>&nbsp;&nbsp;&nbsp;Cook’s Distance</li>
                        </ul>
                    </li>
                    <br>
                    <li>Missing Value treatments
                        <ul class="">
                            <li>&nbsp;&nbsp;&nbsp;What is a NA?</li>
                            <li>&nbsp;&nbsp;&nbsp;Central Imputation</li>
                            <li>&nbsp;&nbsp;&nbsp;KNN imputation</li>
                            <li>&nbsp;&nbsp;&nbsp;Dummification</li>
                        </ul>
                    </li>
                    <br>
                    <li>Correlation
                        <ul class="">
                            <li>&nbsp;&nbsp;&nbsp;Pearson correlation</li>
                            <li>&nbsp;&nbsp;&nbsp;Positive &amp; Negative correlation</li>
                        </ul>
                    </li>
                    <br>
                    <li>Error Metrics Duration-3hr
                        <ul class="">
                            <li>&nbsp;&nbsp;&nbsp;Classification</li>
                            <li>&nbsp;&nbsp;&nbsp;Confusion Matrix</li>
                            <li>&nbsp;&nbsp;&nbsp;Precision</li>
                            <li>&nbsp;&nbsp;&nbsp;Recall</li>
                            <li>&nbsp;&nbsp;&nbsp;Specificity</li>
                            <li>&nbsp;&nbsp;&nbsp;F1 Score</li>
                        </ul>
                    </li>
                    <br>
                    <li>Regression
                        <ul class="">
                            <li>&nbsp;&nbsp;&nbsp;MSE</li>
                            <li>&nbsp;&nbsp;&nbsp;RMSE</li>
                            <li>&nbsp;&nbsp;&nbsp;MAPE</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </article>
        <article class="wid ">
            <h1 data-accordion-element-trigger style="background-color: #292929;margin-bottom: -0.5rem; ">Session 8: Supervised Learning (Duration-6hrs)</h1>
            <div data-accordion-element-content class="content ">
                <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <li>Linear Regression
                        <ul class="">
                            <li>Linear Equation</li>
                            <li>Slope</li>
                            <li>Intercept</li>
                            <li>R square value</li>
                        </ul>
                    </li>
                    <li>Logistic regression
                        <ul class="">
                            <li>ODDS ratio</li>
                            <li>Probability of success</li>
                            <li>Probability of failure</li>
                            <li>ROC curve</li>
                            <li>Bias Variance Tradeoff</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </article>
        <article class="wid ">
            <h1 data-accordion-element-trigger style="background-color: #292929;margin-bottom: -0.5rem; ">Session 9: Unsupervised Learning (Duration-4hrs)</h1>
            <div data-accordion-element-content class="content ">
                <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <li>K-Means</li>
                    <li>K-Means ++</li>
                    <li>Hierarchical Clustering</li>
                </ul>
            </div>
        </article>
        <article class="wid ">
            <h1 data-accordion-element-trigger style="background-color: #292929;margin-bottom: -0.5rem; ">Session 10: Other Machine Learning algorithms (Duration-10hrs)</h1>
            <div data-accordion-element-content class="content ">
                <ul class="list-unstyled ui-box-style-2  p-0 m-0" style="    padding: 25px 30px 40px;
                background: #E8EAF6;
                font-size: 16px;
                line-height: 24px;
                color: #000;">
                    <li>K – Nearest Neighbour</li>
                    <li>Naïve Bayes Classifier</li>
                    <li>Decision Tree – CART</li>
                    <li>Decision Tree – C50</li>
                    <li>Random Forest</li>
                </ul>
            </div>
        </article>
    </section>
    <!-- partial -->
    <script src='https://cdn.jsdelivr.net/gh/cant89/gianni-accordion-js/dist/gianniAccordion.min.js'></script>
    <script src="/js/acc.js "></script>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area ">
        <div class="bottom-footer-area " style="background-color: black; ">
            <div class="container ">
                <div class="row ">
                    <div class="col-12 ">
                        <p style="background-color: black; color: white; ">
                            Copyright &copy; All rights reserved | This template is made with by <a href="https://colorlib.com " target="_blank " style="color: orange; ">Capztone</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js "></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js "></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js "></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js "></script>
    <!-- Active js -->
    <script src="/js/active.js "></script>
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0GnVe3hVnKs7DF9KuTkXdjB4NVLWWK8U&callback=initMap "> -->
    </script>
</body>

</html>