<%- include ('./partials/header') %>
    <div class="breadcumb-area bg-img" style="background-color: #292929; height: 109px;">
        <div class="bradcumbContent">
            <h2>Jobs</h2>
        </div>
    </div>
    <section class="about-us-area mt-50 section-padding-100" style="padding-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms" style="text-align: center; padding: 120px 0;">
                    <h2>IBM Cognos Developer</h2>
                </div>
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms" style="text-align: justify;">
                    <p>Capztone  is now hiring a Cognos BI Analyst with a solid track record in the Cognos BI Analytics tools set, including the design and development of reports, as well as the management and knowledge of the platform (Cognos 10.2, Cognos 11). Required Skills optimization, complex reports, Cognos, Cognos Framework Manager models, Transformer models, MDX, Reports, Cubes, data sources, Framework Models, troubleshoot, Cognos Reports, Dashboards, Cognos Report Studio, SQL, business processes, data requirements, data flows, business requirements, reporting requirements Position ID: cITs3053 Location: Dallas, TX DFW Airport Area Term: 6 Months w Extensions Title: Cognos Reports Development - Dallas Day to Day Responsibilities.
                        </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 wow fadeInUp" data-wow-delay="500ms" style="text-align: justify;">
                    <p>At least 5 
                        Day to Day Responsibilities <br/>
                        • At least 5 years of experience in development and optimization of complex reports through Cognos <br/>
                        • Independently perform development, testing, implementation, documentation and updating as it relates to Cognos software <br/>
                        • Develop complex Cognos Framework Manager models, Transformer models, MDX, Reports and Cubes <br/>
                        • Leverage existing data sources and Framework Models <br/>
                        • Maintain and troubleshoot existing Cognos Reports and Dashboards using multiple tools including Cognos Report Studio and SQL <br/>
                        • Understand business processes, data requirements and data flows and follow current unit development practices, standards and uses <br/>
                        • Quickly grasp business requirements and translate them into sound reporting requirements <br/>
                        • Design, code and implement having an orientation towards the best solution for the customers needs <br/>
                        • Ability to recommend and execute on alternative solutions, analyzing trade-offs and downstream impacts <br/>
                        • Perform quality assurance and unit testing on deliverable and work products <br/>
                        • Quickly integrate with a small BI team, following the lead of current developers <br/>
                        • Provide support and closely work with multiple units and internal customers <br/>
                        • Bachelor s degree or higher in Computer Science or related field <br/>
                        • Excellent communication skills <br/> 
                        • Ability to gather requirements, design and present solutions, and anticipate future enhancement needs <br/>
                        • Team oriented and comfortable working under pressure <br/>
                        • Able to manage multiple requests and projects within tight time-frames<br/></p>
                </div>
            </div>
        </div>
    </section>
    <%- include ('./partials/footer') %>