<!DOCTYPE HTML>
<html>
<head>
    <title>Dimension by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/cover/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/cover/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <img src="/img/core-img/logo1.png" alt="" id="logoImg">
        </div>
        <div class="content">
            <div class="inner">
                <h1 style="color: orange">CAPZTONE</h1>
                <p>We are one of the largest providers of evaluations and services for young and school age children</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/it">IT</a></li>
                <li><a href="/kid">KID</a></li>
                <!--<li><a href="#elements">Elements</a></li>-->
            </ul>
        </nav>
    </header>


    <!-- Footer -->
    <footer id="footer">
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="/cover/assets/js/jquery.min.js"></script>
<script src="/cover/assets/js/browser.min.js"></script>
<script src="/cover/assets/js/breakpoints.min.js"></script>
<script src="/cover/assets/js/util.js"></script>
<script src="/cover/assets/js/main.js"></script>

</body>
</html>
