<%- include ('../partials/header') %>
    <div class="breadcumb-area bg-img" style="background-color: #292929; height: 109px;">
        <div class="bradcumbContent">
            <h2>Payment</h2>
        </div>
    </div>

    <%- include ('../partials/footer') %>
